{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}プロフィール | Private Diary{% endblock %}

{% block active_profile %}active{% endblock %}


{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            {% for profile in customuser_list %}
            {% if profile.picture %}
            <td>{{ profile.picure }}</td>
            {% else %}
            <p>アイコンが設定されていません</p>
            {% endif %}
            <td>
                <p>{{ profile.username }}</p>
            </td>
            <td>
                <p>{{ profile.email }}</p>

                {% if profile.sex is true %}
                <p>女性</p>
                {% else %}
                <p>男性</p>
                {% endif %}
                {% if profile.discription %}
                <p>{{ profile.discription }}</p>
                {% else %}
                <p>自己紹介は記述されておりません</p>
                {% endif %}
            </td>
           
            <a class="btn btn-primary" href="{% url 'accounts:edit' profile.id %}">プロフィールの編集</a>
            {% endfor %}

        </div>
        
    </div>
</div>
{% endblock %}


